.aboutus-content {
    padding-top: 80px;
}
.aboutus-content .section-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.aboutus-content .section-wrapper h2 {
    font-size: 50px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
    animation: ttext 0.5s ease;
}
.aboutus-content p {
    font-size: 20px;
    line-height: 32px;
    animation: ttext 1s ease;
}
.aboutus-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.aboutus-main > div {
    width: 50%;
}
.block-highlight {
    border-width: 15px 15px 15px 0;
    padding: 80px 0 110px;

    background: url(/images/half-bg.svg) no-repeat center center;
    background-size: cover;
}
.quote-content {
    width: 50%;
    padding-right: 50px;
}
.quote-content p {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.quote-content strong {
    font-size: 20px;
    line-height: 32px;
}
.executive-staff-list {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    font-size: 20px;
}
.executive-staff-list strong {
    display: block;
}
.executive-staff-list > div {
    width: calc(25% - 20px);
}
.executive-staff-list > div span {
    display: block;
    background: #f0f0f0;
    height: 300px;
    margin-bottom: 20px;
}
.partners {
    padding-bottom: 150px;
    border-bottom: 1px solid #eee;
    text-align: center;
}
.partners h2 {
    font-size: 50px;
    line-height: 1.025em;
}
.partners object {
    max-width: 400px;
    margin: 40px 0;
}
.partners p {
    font-size: 20px;
    line-height: 32px;
}
.quotepage {
    display: flex;
    align-items: center;
    background: #e9e9e9;
}
.quotepage > div {
    width: 50%;
}
.quotepage .quote-content {
    max-width: 640px;
    padding: 0 10px 0 50px;
}
.emp-image {
    display: flex;
}
.emp-image img {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    animation: img 0.9s ease;
}
.ceo-image {
    display: flex;
}
.ceo-image img {
    margin-top: auto;
    animation: img 0.5s ease;
}
@media screen and (max-width: 1025px) {
    .executive-staff-list {
        flex-wrap: wrap;
        padding: 50px 0;
    }
    .executive-staff-list > div {
        width: calc(50% - 20px);
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 850px) {
    .quotepage {
        flex-direction: column;
    }
    .quotepage > div {
        width: 100%;
    }
    .emp-image img {
        margin: 0 auto;
        max-width: 100%;
    }
    .quotepage .quote-content {
        padding: 30px 30px 50px;
    }
    .aboutus-content .section-wrapper {
        border-bottom: 1px solid #f0f0f0;
    }
}
@media screen and (max-width: 700px) {
    .executive-staff-list {
        padding: 0;
    }
    .executive-staff-list > div {
        width: calc(50% - 10px);
        margin-bottom: 50px;
    }
    .aboutus-content .section-wrapper .aboutus-main {
        flex-direction: column-reverse;
    }
    .ceo-image img {
        max-height: 40vh;
    }
    .aboutus-main > div {
        width: 100%;
        max-width: 500px;
    }
    .aboutus-main > div:first-child {
        padding: 20px;
    }
    .partners {
        padding: 0 20px 50px;
    }
}
