.career-content {
    padding-top: 80px;
}
.career-content .section-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
}
.career-content h2 {
    font-size: 50px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
    animation: ttext 0.5s ease;
}
.career-content p {
    font-size: 20px;
    line-height: 32px;
    animation: ttext 0.7s ease;
}
.lifeatrckr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lifeatrckr > div {
    width: 50%;
}
.lifeatrckr a {
    animation: ttext 1.4s ease;
}
.emp-benefits {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.emp-benefits > div {
    width: calc(50% - 25px);
}
.emp-benefits h2 {
    font-size: 50px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
}
.emp-benefits p {
    font-size: 20px;
    line-height: 32px;
}
.emp-benefits li {
    font-size: 20px;
    line-height: 32px;
}
.emp-benefits figure {
    background: #f0f0f0;
    padding: 50px;
    margin: 0 0 20px;
}
.small-bu {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #f86734;
    border-radius: 10px;
    font-size: 20px;
}
.lifeatrckr > div:last-child {
    border: 1px dashed #000;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #666;
}

@media screen and (max-width: 700px) {
    .lifeatrckr {
        flex-direction: column-reverse;
    }
    .lifeatrckr > div:last-child {
        height: 300px;
        margin-bottom: 20px;
    }
    .lifeatrckr > div {
        width: 100%;
        max-width: 500px;
    }
    .emp-benefits {
        flex-direction: column;
    }
    .emp-benefits > div {
        width: 100%;
        margin-bottom: 50px;
    }
}
.current-opening h2 {
    font-size: 50px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
}
.current-opening {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
}
.current-opening > div {
    width: 50%;
    display: flex;
}
.opening-heading {
    display: flex;
    margin-left: auto;
    background: #f0f0f0;
    min-height: 80vh;
}
.opening-heading > div {
    max-width: 640px;
    margin-left: auto;
    width: 100%;
    padding: 80px 40px 40px 60px;
}
.opening-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -60vh 0 0 -20px;
    padding-bottom: 100px;
    border-bottom: 1px solid #eee;
}
.opening-list > div {
    background-color: #fff;
    box-shadow: 4px 20px 47px 0 rgb(0 0 0 / 10%);
    cursor: pointer;
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: calc(33.333% - 40px);
    margin: 20px;
    min-height: 300px;
    background: linear-gradient(to right top, #eff7cf 25%, #fff 25%);
    background-size: 401% 400%;
    background-position: right bottom;
    transition: all 0.5s ease;
}
.opening-list > div:hover {
    background-position: left bottom;
}
.opening-list h2 {
    font-size: 32px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
}
.opening-list > div:last-child {
    margin-right: auto;
}
.opening-list > div a {
    margin-top: auto;
    margin-right: auto;
}

@media screen and (max-width: 1300px) {
    .current-opening > div.opening-heading {
        width: auto;
    }
    .opening-heading > div {
        padding-left: 40px;
    }
}
@media screen and (max-width: 1025px) {
    .current-opening > div {
        width: auto;
        margin-left: 0;
    }
    .opening-list > div {
        width: calc(50% - 40px);
    }
}
@media screen and (max-width: 700px) {
    .opening-heading > div {
        padding-left: 20px;
        padding-top: 40px;
    }
}
@media screen and (max-width: 600px) {
    .current-opening > div {
        width: 50%;
    }
    .opening-list > div {
        width: calc(100% - 20px);
        min-height: 0;
    }
    .opening-list > div a {
        margin-top: 20px;
    }
}
.career-page main {
    background: url(../images/grey-bg.svg) no-repeat -300px 600px;
    background-size: 500px;
    animation: move-ring 0.9s ease;
}
.career-page .main-wrapper {
    background: url(../images/light-red-bg.svg) no-repeat right -300px top 1300px;
    background-size: 500px;
    animation: red-ring 0.9s ease;
}
