.services-content {
    padding: 0 0 0;
    display: flex;
}
.services-content .section-wrapper {
    height: 100%;

    display: flex;

    flex-direction: column;
    min-height: 80vh;
    justify-content: center;
}
.services-content h2 {
    font-size: 50px;
    line-height: 1.025em;
    margin: 0;
    padding: 0;
    animation: ttext 0.5s ease;
}
.services-content p {
    font-size: 20px;
    line-height: 32px;
    animation: ttext 1s ease;
}
.service-page1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-page1 > div {
    width: 50%;
}
.service-image {
    max-width: 400px;
    margin-right: 1.5%;
    animation: img 1s ease;
}
@media screen and (max-width: 1025px) {
    .services-content {
        padding-top: 50px;
    }
    .service-page1 > div:first-child {
        width: 40%;
    }
    .service-page1 > div:last-child {
        width: 60%;
    }
    .service-image {
        max-width: 300px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 950px) {
    .service-page1 {
        flex-direction: column-reverse;
    }
    html body .service-page1 > div:first-child {
        width: 100%;
    }
    .service-image {
        margin-right: auto;
    }
}

.prod-engineering {
    display: flex;
    justify-content: space-between;
}
.prod-engineering h2,
.prod-engineering h3,
.prod-engineering p {
    margin: 0;
    padding: 0;
}
.prod-engineering h2 {
    font-size: 40px;
    padding: 0 0 5px;
}
.prod-engineering h3 {
    padding: 60px 0 5px;
    font-size: 22px;
}
.prod-engineering p,
.new-services p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.pe-dev {
    width: 65%;
    padding-right: 50px;
}
.pe-dev p {
    max-width: 80%;
}
.customapp {
    width: 35%;
}
.product-engineering {
    padding-bottom: 100px;
}
.customapp p + h2 {
    padding-top: 100px;
}
.customapp p {
    padding-top: 10px;
}
.product-engineering figure {
    padding: 0;
    margin: 0 0 15px;
}
.product-engineering figure img {
    width: 100%;
    animation: img 0.9s ease;
}
.product-engineering p + figure {
    margin-top: 100px;
}
.customapp figure {
    background: #f9e5dd;
    padding: 50px;
}
.customapp figure.data-img {
    background: #a3ddbd;
}
.customapp figure.re-engineering {
    background: #d7effe;
}
.new-services .section-wrapper {
    display: flex;
}
.new-services h2 {
    font-size: 40px;
    padding: 0 0 5px;
    margin: 0;
}
.new-services .section-wrapper div:first-child {
    width: 65%;
    padding-right: 50px;
}
.new-services .section-wrapper div:last-child {
    width: 35%;
}
.new-services {
    padding-bottom: 100px;
    border-bottom: 1px solid #eee;
}
@media screen and (max-width: 850px) {
    .pe-dev {
        width: 50%;
        padding-right: 25px;
    }
    .customapp {
        width: 50%;
        padding-left: 25px;
    }
}
@media screen and (max-width: 750px) {
    .customapp {
        padding-top: 50px;
    }
    .pe-dev,
    .new-services .section-wrapper div:first-child {
        width: 100%;
        padding-right: 0;
    }
    .customapp,
    .new-services .section-wrapper div:last-child {
        width: 100%;
        padding-left: 0;
    }
    .prod-engineering,
    .new-services .section-wrapper {
        flex-direction: column;
    }
    .new-services .section-wrapper div:first-child {
        padding-bottom: 70px;
    }
    .product-engineering {
        padding-bottom: 50px;
    }
}
.service-page main {
    background: url(../images/light-red-bg.svg) no-repeat -300px 600px;
    background-size: 500px;
    animation: move-ring 0.9s ease;
}
.service-page .main-wrapper {
    background: url(../images/grey-bg.svg) no-repeat right -300px top 1300px;
    background-size: 500px;
    animation: red-ring 0.9s ease;
}
@keyframes img {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
