<footer>
    <div class="section-wrapper ">
        <div class="footer-links">
            <dl>
                <dt>Company</dt>
                <dd> <a href="/services.html"> Services</a></dd>
                <dd>Quality Control</dd>
                <dd>Our team</dd>
                <dd><a href="/aboutus.html">About us</a></dd>
                <dd><a href="/careers.html">Careers</a></dd>
            </dl>
            <dl>
                <dt>Contact</dt>
                <dd>
                    <strong>Address:</strong>

                    <div> #403, Prestige Center Point,
                        Cunningham Road,<br />
                        Bangalore-560 052, INDIA</div>

                </dd>
                <dd> <strong>Phone Number</strong>
                    <div>+91 80 4123 5868</div>
                </dd>

            </dl>
            <dl>
                <dt>Connect with us</dt>
                <dd><a><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px" height="48px">
                            <path fill="#039be5" d="M24 5A19 19 0 1 0 24 43A19 19 0 1 0 24 5Z" />
                            <path fill="#fff"
                                d="M26.572,29.036h4.917l0.772-4.995h-5.69v-2.73c0-2.075,0.678-3.915,2.619-3.915h3.119v-4.359c-0.548-0.074-1.707-0.236-3.897-0.236c-4.573,0-7.254,2.415-7.254,7.917v3.323h-4.701v4.995h4.701v13.729C22.089,42.905,23.032,43,24,43c0.875,0,1.729-0.08,2.572-0.194V29.036z" />
                        </svg></a> <a><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="48px"
                            height="48px">
                            <path fill="#0288d1" d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z" />
                            <path fill="#fff"
                                d="M14 19H18V34H14zM15.988 17h-.022C14.772 17 14 16.11 14 14.999 14 13.864 14.796 13 16.011 13c1.217 0 1.966.864 1.989 1.999C18 16.11 17.228 17 15.988 17zM35 24.5c0-3.038-2.462-5.5-5.5-5.5-1.862 0-3.505.928-4.5 2.344V19h-4v15h4v-8c0-1.657 1.343-3 3-3s3 1.343 3 3v8h4C35 34 35 24.921 35 24.5z" />
                        </svg></a></dd>

            </dl>
        </div>
        <div class="copyright">
            &copy; 2022 All Rights Reserved rckr software.
        </div>
    </div>
</footer>